<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696565187367-uofofa5vbsej3bkgtf9b8jk9ocddt7n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696565187367-uofofa5vbsej3bkgtf9b8jk9ocddt7n1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0wbdhnxMYi71yw7ItP0HmfjvDUtCoDXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>696565187367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellowordfirebase</string>
	<key>PROJECT_ID</key>
	<string>hello-world-ac74e</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-ac74e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:696565187367:ios:43cc9285738e7f8903df02</string>
</dict>
</plist>
